.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer img{
    width: 10rem;
}

.footer p{
    width: 100vw;
    padding: 2rem;
    text-align: center;
    color: #fff;
}

.topo-da-pagina{
    position: absolute;
    right: 2rem;
}