.projetos{
    display: flex;

    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.projetos a{
    border: dashed 1px #000;

    display: flex;

    justify-content: center;
    flex-direction: column;
    align-items: center;

    padding: 2rem;
    margin: 2rem;

    text-decoration: none;
}

.projetos a a{
    background-color: #2C067D;
}

.projetos img{
    width: 40vw;
}

.projetos-texto{
    text-align: center;
}